@font-face {
    font-family:font_strong;
    src:url('VNI-Slogan.ttf') format('truetype'),
    font-weight:normal;
    font-style:normal;
}
*{
    margin: 0 auto;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color:#FFFFFF;
    margin: 0 !important;
    padding: 0 !important;
    background: #FFFFFF url('img_makup/bg-top.png') repeat-x left top;
}
.clear{
    clear: both;
}
#header {
    width: 20%;
    background: #FFFFFF;
    text-align: center;
    float: left;
    margin: 0 auto;
    margin-top: 30px;
}
#header h1 {
    display: block;
    font-size: 43pt;
    font-family: 'Dancing Script', cursive;
    padding-top: 69px;
    margin: 0 auto !important;
    color: #FF0000;
    text-shadow: 1px 1px 0px red, 0 0 1px #FF0C17, 0 0 1px #BF2727;
}

.introduction {
    width: 102px;
    margin-top: 6px;
    border-radius: 10px;
}
#noel{
    height: 220px;
    margin-top: 50px;
}
#mp3{
    width: 45px;
    height:50px;

}
#comment{
    float: right;
    margin: 0 auto;
    margin-top: -438px;
    text-align: center;
    width: 20%;
    background: #FFFFFF;
}
#next_page_two{
    width: 105px;
    height: 37px;
    font-size: 21px;
    font-family: 'Itim', cursive;
    background: #F30101;
    border-radius: 5px;
    border: 1px;
    color: #FFF;
}
#main form{
    width: 188px;
    height: 30px;
    margin-top: -8px;
}
#main form p {
    font-size: 13px;
    margin-top: 16px;
    color: #F30101;
    font-family: 'Itim', cursive;
}


.photo_booth {
    width: 200px;
    height: 150px;
    background: #cccccc;
}
#list_camera{
    width: 800px;
    /* margin: 0px auto; */
    margin: 0 auto;
    padding-top: 39px;

}
.photo_booth{
    float: left;
    transform: scaleX(-1);
}
.canvas-container{
    width:800px;
    height:600px;
    margin: 0 auto;
    margin-top: 0px;
}
#exit{
    margin: 0 auto;
    width:800px;
    height:600px;
}
.img_camera{
    opacity: 9999;
}
#exit_right{
    width: 250px;
    margin-top: -473px;
    text-align: center;
   float: right;
    background: #FFFFFF;
}
#icon {
    width: 266px;
    height: 229px;
    border-top: 4px solid rgb(243, 0, 0);
    /* border-radius: 4px; */
    padding-top: 6px;
    /* margin-top: 12px; */
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    border-bottom: 4px solid rgb(243, 0, 0);
    background: #FFFFFF;
}
#icon ::-webkit-scrollbar {
    display: block;
}
.icon_noel{
    width: 69px;
    margin: 1px;
    border: 1px solid rgb(244, 188, 51);
}
#box_next_one{
    margin: 0 auto;
    width: 155px;
    height: 43px;
}
#next_page_one{
    float: left;
    width: 155px;
    height: 43px;
    font-size: 25px;
    font-family: 'Itim', cursive;
    background: #0077D2;
    border: 1px;
    color: #ffffff;
    margin-top: 10px;
}
#next_page_one a{
    color: #ffffff;
}
#icon_second{
    width:100px;
}
#img_left_top{
    width:250px;
}
#hieu_ung_1{
    color: #846F45;
}
#hieu_ung_2{
    color: #949D8F;
}
#hieu_ung_3{
    color: #D48BE4;
}
#hieu_ung_4{
    color: #880000;
}

#hieu_ung_5{
    color: #FFC5FD;
}
#hieu_ung_6{
    color: #50A100;
}
#hieu_ung_7{
    color: #FF4D00;
}
#hieu_ung_8{
    color: #FFB100;
}
#hieu_ung_10{
    color: #77497A;
}
#hieu_ung_11{
    color: #D6D6D6;
}
#hieu_ung_12{
    color: #D6FFFF;
}#hieu_ung_13{
     color: #103F39;
 }
#matrix{
    margin: 0 auto;
    width:220px;
    height: 220px;
    padding: 10px;
}
.filters_1{
    width: 46px;
    margin-bottom: 16px;
    float: left;
    font-size: 20px;
}
#remove{
    width: 201px;
    background: red;
    border: 1px solid red;
    margin-top: 4px;
    color: #ffffff;
    font-family: 'Itim', cursive;
    border-radius: 10px;
}
/*#container{*/
    /*background: #FFFFFF url('img_makup/bg-top.png') repeat-x left top;*/
/*}*/
#img_left_bottom{
}
#main {
    margin-bottom: 96px;
}
#canvas_page_two{
    margin-top: 50px;
}
/*#thantaichucphuc{*/
    /*width: 204px;*/
    /*padding-top: 40px;*/
    /*border-radius: 92px;*/
/*}*/
.btn-success{
    background-image: linear-gradient(to bottom,#FF0000 0,#D80606 100%);
    border-color: #EF0B0B;
    font-family: 'Itim', cursive;
}
.button-action{
    margin-top: 10px;
}
#fabric_oImg{
    width: 292px;
    margin-top: 8px;
    overflow: scroll;
    height: 77px;
    overflow-x: hidden;
}
.img_oImg{
    padding-top: 15px;
    width:80px;
    height: 80px;
}
#camera{
    width: 100%;
}
.make_up{
    width:276px;
}
#text_fabric_oImg{
    font-family: 'Itim', cursive;
    color: #F30101;
}
.fabric{
    margin-top: -8px;
}
.selected {
    float: left;
    background: red;
    border: 1px;
    width: 169px;
    height: 29px;
    text-align: center;
    margin: 5px;
    color: #ffffff;
    font-family: 'Itim', cursive;
    border-radius: 4px;
}
#box_selected{
    width: 180px;
    height: 117px;
    margin: 0 auto;
}
#box_text_post{
    margin: 20px 20px 20px 0px;
}
#box_list_camera{
    width: 60%;
    float: left;
}
#canvas_page_one{
    margin-top: 39px;
}
.upper-canvas{
    margin-top:39px;
}
#reload{
    background: #009688;
    border: 1px solid #009688;
}