body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #FFFFFF;
    margin: 0 !important;
    padding: 0 !important;
}
#title {
    width: 100%;
    background: #45619D;
    color: white;
    padding: 14px 50px 14px 50px;
}
#title h1 {
    display: block;
    font-size: 18pt;
    font-family: 'Itim', cursive;
    margin: 0 auto !important;
}
#two{
    margin-top: 1%;
    margin-left: 1%;
    background: #ffffff;
}
.row{
    background: #ffffff;
}
#img{
    width:64%;
    height:608px;
    float: left;
    margin-top: 8px;
}
#img img{
    width:100%;
    height:100%;
}
#facebook{
    float: left;
    margin-left: 1%;
    width: 34%;
}